<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>400错误</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{base::topbar}"></div>
<div class="container-fluid">
    <div class="row">
        <div th:insert="~{base::sidebar}"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <span>400错误，请检查您输入内容是否正确！</span>
            <button>
                <a th:href="@{/reservation}">返回</a>
            </button>
        </main>

    </div>
</div>

</body>
</html>